/* adopted from the cayman.css theme of prettydoc */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local(OpenSans), url(fonts/open-sans-400.woff) format("woff")
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local(OpenSans-Bold), url(fonts/open-sans-700.woff) format("woff")
}
/*
* {
  box-sizing: border-box
}
*/
html {
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.5;
}
a {
  color: #1e6bb8;
  text-decoration: none
}
a:hover {
  text-decoration: underline
}

/* navbar scrolling * /
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: absolute;
}
*/

#navbar {
  background-color: #222222;
}

/* navbar smaller on scrolling */
/* https://stackoverflow.com/questions/16442016/jquery-sticky-header-that-shrinks-when-scrolling-down */
.navbar {
  /*width: 100%;*/
  height: 100px;
  /*background: #26b;
  color: #fff;*/
  /*position: fixed;
  top: 0;
  left: 0;*/
  border-bottom-width: 0;
  transition: height 500ms, background 500ms;
}
.navbar img {
  height: 90px;
  transition: height 500ms;
}
.navbar-header {
  height: 100px;
  transition: height 500ms;
}
.navbar-nav > li > a {
  padding: 39px 15px 39px 15px;
  font-size: 22px;
  transition: padding 500ms, font-size 500ms;
}
.navbar-brand {
  padding: 4.5px 35px; /*30px*/
  transition: padding 500ms;
}

.navbar-tiny {
  height: 40px;
  /*background: #aaa;*/
}
.navbar-tiny img {
  height: 40px;
}
.navbar-header-tiny {
  height: 40px;
}
.navbar-nav-tiny > li > a {
  padding: 14.5px 15px 14.5px 15px;
  margin-top: 0;
  font-size: 16px;
}
.navbar-brand-tiny {
  padding: 4.5px 35px;
}

/* head line */
#header {
  position: absolute;
  right: 0;
  left: 0;
  color: #fff;
  text-align: center;
  background-color: #40826d;
  background-image: linear-gradient(15deg, #e95cba, #1eb4e6);
  padding: 1.5rem 2rem;
}
.title {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-size: 2rem;
  padding: 110px 0 50px 0;
}
.title span {
  background-color: #40826d;
  padding: 10px 20px;
}
#first-section-front { /* on front page */
  margin-top: 550px;
}
#first-section { /* on other pages */
  margin-top: 300px;
}
@media screen and (max-width: 42em) {
  #header {
      padding: 1rem
  }
  .title {
      font-size: 1.75rem
  }
}
.section img {
  max-width: 100%;
}
.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #40826d;
}
.section p {
  margin-bottom: 1em;
}
.section code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}
.section pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
  line-height: 1.45;
  overflow: auto;
}
.section pre> code {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.section pre code, .section pre tt {
  display: inline;
  padding: 0;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.section pre code:before, .section pre code:after, .section pre tt:before, .section pre tt:after {
  content: normal;
}
.section ul, .section ol {
  margin-top: 0;
}
.section blockquote {
  padding: 0 1rem;
  margin-left: 0;
  font-size: 1.2rem;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
.section blockquote>:first-child {
  margin-top: 0;
}
.section blockquote>:last-child {
  margin-bottom: 0;
}
.section table {
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0;
}
.section table th {
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
}
.section table th, .section table td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e9ebec;
  text-align: left;
}
.section table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.section dl {
  padding: 0;
}
.section dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.section dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
.section hr {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  background: #aaa;
  background-image: linear-gradient(to right, #eee, #aaa, #eee);
}
.section, .toc {
  max-width: 64rem;
  padding: 2rem 0;
  margin: 0 auto;
  font-size: 1.1rem;
}
.toc {
  padding-bottom: 0;
}
.toc ul {
  margin-bottom: 0;
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .toc {
    padding: 2rem 2rem 0;
  }
  .section {
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 42em) {
  .toc {
    padding: 2rem 1rem 0;
    font-size: 1rem;
  }
  .section {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  .section pre, .section pre> code {
    font-size: 0.9rem;
  }
  .section blockquote {
    font-size: 1.1rem;
  }
}
.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
  font-size: 1rem;
  
  position: absolute;
  right: 0;
  left: 0;
  color: #333;
  text-align: center;
  background-color: #40826d;
  background-image: linear-gradient(15deg, #e95cba, #1eb4e6);
  padding: 1.5rem 2rem;
}
.site-footer-owner {
  display: block;
  font-weight: bold;
}
.site-footer-credits {
  color: #819198;
}

.panel-title {
  margin-bottom: auto !important;
}

/* vertical centering with the help of CSS tables: https://css-tricks.com/vertically-center-multi-lined-text/ */
.btn-tile {
  width: 100%;
  height: 200px;
  font-size: 20px;
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #40826d;
}
.btn-tile p {
  display: table-cell; 
  vertical-align: middle; 
  
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

.btn-gradient-ll {
  background-image: linear-gradient(15deg, #37EB2A, #28c868);
}
.btn-gradient-lc {
  background-image: linear-gradient(15deg, #32df40, #25c077);
}
.btn-gradient-lr {
  background-image: linear-gradient(15deg, #25c077, #20b48b);
}
.btn-gradient-ml {
  background-image: linear-gradient(15deg, #2acd5e, #20b48b);
}
.btn-gradient-mc {
  background-image: linear-gradient(15deg, #32df40, #25c077);
}
.btn-gradient-mr {
  background-image: linear-gradient(15deg, #32df40, #25c077);
}
.btn-gradient-ul {
  background-image: linear-gradient(15deg, #32df40, #25c077);
}
.btn-gradient-uc {
  background-image: linear-gradient(15deg, #32df40, #25c077);
}
.btn-gradient-ur {
  background-image: linear-gradient(15deg, #32df40, #25c077);
}

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/ */
.anchor {
   /*position: relative;*/
   border-top: 70px solid transparent;
   margin: -70px 0 0;
   /*-webkit-background-clip: padding-box;
   -moz-background-clip: padding;
   background-clip: padding-box;*/
}
/*.anchor:before {
   content: "";
   position: absolute;
   top: -2px;
   left: 0;
   right: 0;
}*/
