<script type="text/javascript" language="javascript">
  <!--
  {
    jskwe = "ZWMTEL:MsaL@0MBMAMWs-SBLJRDE.LBw"
    yui = "L6X7elCcFzSOvadQNJuHymnxP8gErYoM1I4URTGDp3bf0WAjh9K5qZsVktw2Bi"
    whosd=jskwe.length
    zyqm=""
    for (i=0; i<jskwe.length; i++) {
      if (yui.indexOf(jskwe.charAt(i))==-1) {
        ltr = jskwe.charAt(i)
        zyqm += (ltr)
      }
      else {     
        ltr = (yui.indexOf(jskwe.charAt(i))-whosd+yui.length) % yui.length
        zyqm += (yui.charAt(ltr))
      }
    }
    document.write("<a href='"+zyqm+"'><i class='fa fa-envelope'></i></a>")
  }
  //-->
</script><noscript><a href="#"><i class='fa fa-envelope'></i></a></noscript>
