    {{ if isset .Params "image" }}
    <header class="global-header"  style="background-image:url({{ .Params.image }})">
    {{ else }}
    <header class="global-header"> <!--   style="background-image:url({{ "images/bg.jpg" | absURL }})" -->
    {{ end }}
      <section class="header-text">
        <h1>
          <a href="{{ "" | absLangURL }}">
            <img src="{{ .Site.Params.siteLogo | absURL }}"><br>{{ .Site.Title }}
          </a>
        </h1>
        {{ with .Site.Params.subtitle }}
          <h3 class="tag-line">
            {{ . }}
          </h3>
        {{ end }}
        {{ if ( not .IsHome ) }}
          <a class="btn btn-default-hamburg btn-home" href="{{ "" | absLangURL }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            &nbsp;{{ i18n "home" }}
          </a>
        {{ end }}
      </section>
    </header>
    <main class="container" aria-role="main">