    <!-- sites -->
    
    <div id="navbar-outer" class="navbar-default navbar-fixed-top">
      <a class="navbar-brand" href="{{ "" | absLangURL }}">
        <img src="{{ "images/viridian_logo_gray_with_text.png" | absURL }}">
      </a>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-navbar">
          <ul>
            {{- $currentPage := . -}}
            {{ range sort .Site.Menus.main "Identifier" -}}
              {{ if .HasChildren }}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-default-hamburg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  {{ range sort .Children "Identifier" }}
                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                      <a href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                  </ul>
                </li>
              {{ else }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  <a class="btn btn-default-hamburg" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
                </li>
              {{ end }}
            {{- end }}
          </ul>
          <!-- Languages -->
          {{ $url := urls.Parse .Permalink }}
          <!-- The url.Host has only the domain in it -->
          {{ $address := print $url.Scheme "://" $url.Host }}
          <!-- Dirrerence between address and base URL. This could result in "" or "/beta/" or similar. -->
          {{ $i18nBasePath := strings.TrimPrefix $address .Site.BaseURL }}
          <!-- Path like "/beta/" attached with the language code. E.g. "/beta/de" -->
          {{ $pathPrefix := print $i18nBasePath .Language }}
          <!-- This will get the path to the resource from the language code and beyond -->
          {{ $path := strings.TrimPrefix $pathPrefix $url.Path }}
          {{ if .IsTranslated }}
            <div class="language-container">
              {{ range .Site.Home.AllTranslations }}
                <a class="btn btn-default-hamburg language-button" href="{{ .URL }}{{ strings.TrimPrefix "/" $path }}">{{ .Language.LanguageName }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    