{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
<article>
  {{ if isset .Params "title" }}
    <header class="article-title">
      <h1 class="text-primary">{{ .Params.title }}</h1>
      {{ if isset .Params "subtitle" }}
        <h2>{{ .Params.subtitle }}</h2>
      {{ end }}
    </header>
    <div class="delimiter"></div>
  {{ end }}
  <section>
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </section>
</article>
{{ partial "footer.html" . }}